[Desktop Entry]
Type=Application
Name=Thermalright LCD Control
Comment=Thermalright LCD Control
Exec=thermalright-lcd-control-app
Icon=thermalright-lcd-control
Terminal=false
Categories=Utility;Application;
StartupWMClass=thermalright-lcd-control
